body{
	color: $main-color-second;
	h1{
		color: $main-color-second;
	}
}

header{
	padding-top: 2vh;
	// height: 100vh;
	overflow-x: hidden;
	#main-logo{
		position: relative;
		left: 120%;
		img{
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

header, main{
	background-color: #eee;
}

header + main {
	margin-top: 80px
}

#backflip {
	padding-top: 25vh;
	opacity: 0;
	@media only screen and (max-device-width: 414px){
		padding-top: 15vh;
	}
}

.social-nav{
	// margin-top: 5%;
}

#social-icons{
	position: relative;
	left: 50%;
	transform: translateX(-60%);
	font-size: 60px;
	li{
		padding: 10px 40px;
		a{
			color: $main-color-second;
		}
	}
	@media (max-width: 414px){
		left: auto;
		transform: translateX(0);
	}
}

#instafeed{
	margin-top: 60px;
	img{
		margin-bottom: 10px;
	}
}